<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
        <div class="col-3">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
</div>